<h1 class="titleRoster">Neighborhood Roster</h1>
<a style="padding: 25px;" href=""><button onclick="window.print()" type="button" class="btn btn-primary noPrint" id="printRoster">Print Roster</button></a>

{{#each units}}
<h3  class="unitNames">{{unit_number}} {{unit_name}}</h3>
<div id="move">
<table class="table tableRoster" >
    <thead class="thead"> 
        <tr>
            <th scope="col">Family Member</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Phone</th>
            <th scope="col">Cell</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        {{#each people}}
        <tr>
            {{!-- <th scope="row"></th> --}}
            <td>{{type}}</td>
            <td>{{first_name}}</td>
            <td>{{last_name}}</td>
            <td>{{phone}}</td>
            <td>{{cell}}</td>
            <td><a href="mailto:{{user.email}}" class="link-d">{{user.email}}</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
{{/each}}

<a href="/dashboard" class="d-flex justify-content-center text-decoration-none my-2"><button
                            type="button" class="btn btn-primary back"> Back to Dashboard</button></a>